@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

.head{
	font-family: 'Amatic SC', cursive;
	text-align: center;
	background-color: #FFF
}

.head_link{
	text-align: left;
	font-family: serif;
	border-bottom: 1px solid black;
	border-top:1px solid black; padding: 5px;
	background-color: #FFF
}

.foot{
	border-top: 1px solid black; padding: 20px;
	text-align: center;
	background-color: #FFF
}

a:link{
	color: black;
	font-weight: none;
}

a:visited{
	color: #77BFC7;
	font-weight: none;
}

a:hover{
	font-weight: bold;
}

a:active{
	font-weight: none;
}

