.headStyles{
	text-align: center;
}

.resultsTable{
	background-color: #FFF5EC;
	margin: auto;
	border: 2px solid #fff;
	}

.resultsStyleDiv{
	margin: auto;
	margin-top: 10px;
	width:250px;
	padding-bottom: 10px;
	background-color: #FFF5EC;
}

td.rlabel{
	width: 150px;
	text-align: center;
	padding: 5px;
}
td.theNumbers{
	width: 75px;
	text-align: center;
}

caption{
	text-align: center;
	text-decoration: underline;
	vertical-align: center;
	font-size: x-large;
	font-weight: bold;
}