.head{
	text-align: center;
}

.head_link{
	border-bottom: 1px solid black; padding: 5px;
	border-top:1px solid black;
	margin-bottom: 50px;
}

.foot{
	margin-top: 50px;
	border-top: 1px solid black; padding: 20px;
	text-align: center;
}