h2, h3, p {
	text-align: center;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: #7DFDFE;
}

a:active{
	text-decoration: none;
	background-color: none;
}

a:visited{
	text-decoration: none;
}